

.card {
    margin-left: auto;
    margin-right: auto;
    max-height: 590px;
    max-width: 300px;
    min-width: 270px;

    margin-bottom: 25px;
    border: none;

    /* border: 1px solid white; */
    /* outline: 1px solid white; */
    box-shadow: 0 0 3px 2px white;

    padding: 0;
}


.card-img-top {
    width: 100%;
    max-height: 360px;
    cursor: pointer;
}

.card-body {
    height: 50px;
    min-height: 30px;
    margin: auto;
    padding: 0;
    width: 100%;

    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    background: #334454;
    cursor: pointer;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body:hover {
    background-color: #dceedd;
    color: #192531;
    font-weight: 500;
}

.card-img-top:hover + .card-body {
    background-color: #dceedd !important;
    color: #192531;
    font-weight: 500;
}

.card-title {
    margin-bottom: 0 ;
}

