.movie {
    width: 33.33%;
    min-width: 250px;

    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .movie {
        width: 50%;
        max-width: 350px;
    }
}


@media only screen and (min-width: 650px) and (max-width: 767px) {
    .movie  {
        width: 50%;
        min-height: 325px;
    }

}

@media only screen and (max-width: 649px) {
    .movie  {
        width: 100%;
        max-width: 375px;
        margin-bottom: 10px;
        /* height: 50%; */
        /* max-height: 300px; */
    }
    .movie img {
        height: 50%;

    }
}


.movie img {
    display: block;
    width: 100%;
    min-height: 450px;
}

.movie h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    background: #334454;
    flex: 1 1 100%;
    cursor: pointer;
    text-align: center;
}

.movie:hover h3 {
    background-color: #dceedd;
    color: #192531;
    font-weight: 500;
}




