/* .movie {
    width: 33.33%;
    min-width: 250px;
    max-height: 514px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
} */

/* @media only screen and (min-width: 768px) and (max-width: 992px) {
    .movie {
        width: 50%;
        max-width: 350px;
    }
}


@media only screen and (min-width: 650px) and (max-width: 767px) {
    .movie  {
        width: 50%;
        min-height: 325px;
    }

}

@media only screen and (max-width: 649px) {
    .movie  {
        width: 100%;
        max-width: 375px;
        margin-bottom: 10px;
    }

} */


/* .movie img {
    display: block;
    width: 100%;
    height: 450px;
}

.movie h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    background: #334454;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.movie:hover h3 {
    background-color: #dceedd;
    color: #192531;
    font-weight: 500;
} */




