* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat';
  background-color: #223343;
}

header {
  padding: 50px 20px 0px;
}

header h1 {
  color: #ffffff;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

.searchbar {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background: none;

  background-color: #eee;
  border-radius: 10px;

  color: #53565A;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbar:focus {
  box-shadow: 0px 0px 10px 4px #4484C5;
}